body {
    background: #333;
}

.box {
    background: #fff;
    width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
    top: 200px;
    cursor: pointer;
    transition-property: background-color, border-radius, transform; /* use all */
    transition-duration: 1s, 2s, 3s;
    /* transition-delay: 2s; */
    transition-timing-function: ease-in;
}

.box:hover {
    background-color: #f00;
    border-radius: 50%;
    transform: rotateY(100deg);
}
